html, body{
    width: auto;
    height: auto;
}
.page{
    width: auto;
    height: auto;
    min-width: 0px;
    min-height: 0px;
}
.half-background{
    display: block;
    background: #7E9FBF;
    height: 150px;
    margin: 0px;
    padding: 0px;
}

.avatar{
    display: block;
    float: none;
    margin: 0px auto;
}

.description-container{
    margin: 0px;
}
.content-container{
    margin: 0px 0px 40px 0px;
}

#description{
    display: block;
    width: auto;
    height: auto;
}
.half-background:after{
    display: none;
}

