<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <title>Justonepixel.com - {{ page.title }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="author" content="{{ site.author.name }}">

        <!-- Enable responsive viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css"/>
      <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/style.css?body=1"/>

        <!-- atom & rss feed -->
        <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
        <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    </head>

    <body>
    <div class="wrapper container">
    <div class="row">
        <div class="span1 offset1">
            <div class="navbar">
                <ul>
                    <li><a href="/"><img src="{{ ASSET_PATH }}/img/home.png" /></a></li>
                    <li><a href="/about.html"><img src="{{ ASSET_PATH }}/img/about.png" /></a></li>
                    <li><a href="/contact.html"><img src="{{ ASSET_PATH }}/img/contact.png" /></a></li>
                    <li><a href="/archive.html"><img src="{{ ASSET_PATH }}/img/archive.png" /></a></li>
                    <li><a href="/search.html"><img src="{{ ASSET_PATH }}/img/search.png" /></a></li>
                    <li><a href="https://github.com/neumino"><img src="{{ ASSET_PATH }}/img/github.png" /></a></li>
                    <li><a href="http://www.strava.com/athletes/1952902"><img src="{{ ASSET_PATH }}/img/strava.png" /></a></li>
                    <li><a href="https://twitter.com/neumino"><img src="{{ ASSET_PATH }}/img/twitter.png" /></a></li>
                    <li><a href="https://www.facebook.com/michel.tu"><img src="{{ ASSET_PATH }}/img/facebook.png" /></a></li>
                    <li><a href="http://www.linkedin.com/in/tumichel"><img src="{{ ASSET_PATH }}/img/linkedin.png" /></a></li>
                    <li><a href="https://plus.google.com/u/0/111745051853861893359/posts"><img src="{{ ASSET_PATH }}/img/googleplus.png" /></a></li>
                </ul>
            </div>
        </div>

        <div class="span9">

            <div class="content">
                {{ content }}
            </div>

            <footer>
                <p>Michel Tu
                &mdash;
                <a href="mailto:michel@justonepixel.com">michel@justonepixel.com</a>
                &mdash;
                <a href="http://blog.justonepixel.com">http://blog.justonepixel.com</a></p>
            </footer>

        </div>
    </div>
    </div>
    <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css"/>
      <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/style.css?body=1"/>
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
		{% include JB/analytics %}
    </body>
</html>
