---
theme :
    name : justonepixel
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <meta name="author" content="Michel Tu"/>
        <title>Justonepixel.com</title>
        <link rel="stylesheet" type="text/css" href="/assets/desktop.css" />
        <link rel="stylesheet" type="text/css" href="/assets/mobile.css" media="only screen and (max-device-width: 480px)" />
    </head>
    <body>
        <div id="first-page" class="page">
            <div class="half-background"></div>
            <div id="description">
                <img src="/assets/avatar.png" class="avatar" />
                <div class="description-container">
                    <p class="hello">
                        Hello, I'm Michel!
                    </p>

                    <p>
                        Born in <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=chamb%C3%A9ry&aq=&sll=45.759859,3.482666&sspn=7.895066,16.116943&vpsrc=6&ie=UTF8&hq=&hnear=Chamb%C3%A9ry,+Savoie,+Rhone-Alpes,+France&ll=46.422713,4.96582&spn=15.605288,32.233887&t=m&z=6&iwloc=A">small village</a> in France, I grew up in a lovely family, but
                        eventually left to visit the world.
                    </p>
                    <p>
                    My first stops were in <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=lyon&aq=&sll=46.422713,4.96582&sspn=19.637948,47.834473&vpsrc=6&g=Chamb%C3%A9ry,+Savoie,+Rhone-Alpes,+France&ie=UTF8&hq=&hnear=Lyon,+Rh%C3%B4ne,+Rhone-Alpes,+France&ll=46.513516,3.966064&spn=9.799821,23.917236&t=m&z=7&iwloc=A">Lyon</a> and <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=paris&aq=&sll=46.513516,3.966064&sspn=9.799821,23.917236&vpsrc=6&ie=UTF8&hq=&hnear=Paris,+%C3%8Ele-de-France,+France&ll=46.589069,3.47168&spn=9.786255,23.917236&t=m&z=7&iwloc=A">Paris</a>, where I studied mathematics
                    and physics. I then went to <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Beijing&aq=&sll=46.589069,3.47168&sspn=9.786255,23.917236&vpsrc=6&ie=UTF8&hq=&hnear=Beijing,+China&ll=37.247821,119.179688&spn=22.604264,47.834473&t=m&z=6&iwloc=A">Beijing</a> to study computer science and am now
                        living in the bay area where I work at Google as a software engineer (previously
                        at <a href="http://rethinkdb.com">RethinkDB</a>).
                    </p>
                </div>

                <div class="content-container">
                    <p>Contact:</p>
                    <ul>
                        <li>Email: <a href="mailto:michel@justonepixel.com">michel@justonepixel.com</a></li>
                    </ul>
                </div>

                <div class="content-container">
                    <p>More links:</p>
                    <ul>
                        <li><a href="https://blog.justonepixel.com">My blog</a></li>
                        <li><a href="https://github.com/neumino">GitHub</a></li>
                        <li><a href="http://www.linkedin.com/in/tumichel">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
